[Desktop Entry]
Name=Mark Alfa
Comment=Agente Jarvis Local
Exec=/opt/jarvis/venv/bin/python /opt/jarvis/frontend/app.py
Icon=/opt/jarvis/frontend/assets/jarvisicon.svg
Terminal=false
Type=Application
Categories=Utility;Development;
